.p{
    text-align: center;
}

.a-box {
    position: relative;
    text-align: center;
}

.botton1 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    text-align: center;

}

.b-box {
    position: relative;
    text-align: center;
}

.botton3{
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
      
}

.c-box {
    position: relative;
    text-align: center;
}

.botton4 {
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    }

.d-box {
    position: relative;
    text-align: center;
    }
    
.botton5 {
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
   }

    .e-box {
        position: relative;
        text-align: center;
        }
        
    .botton6 {
        display: flex;
        justify-content: center;
        align-items: end;
        cursor: pointer;
        position: absolute;
        bottom: 5%;
        text-align: center;
        }
