.p{
    text-align: center;
}

.a-box {
    position: relative;
    text-align: center;
}

.botton1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    left: 23%;

}

.b-box {
    position: relative;
    text-align: center;
}

.botton3 a{
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    left: 35%;
}

.c-box {
    position: relative;
    text-align: center;
}

.botton4 a{
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    left: 23%;
    }

.d-box {
    position: relative;
    text-align: center;
    }
    
.botton5 a{
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    left: 23%;
   }

    .e-box {
        position: relative;
        text-align: center;
        }
        
    .botton6 a{
        display: flex;
        justify-content: center;
        align-items: end;
        cursor: pointer;
        position: absolute;
        bottom: 5%;
        left: 23%;
        }
　　.f-box{
        position: relative;
        text-align: center;
    }

    .botton7{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        bottom: 5%;
        left: 30%;
    }
